################################################################################
# Resonance Project                                                            #
# Resonance implemented with Pyretic platform                                  #
# author: Hyojoon Kim (joonk@gatech.edu)                                       #
# author: Nick Feamster (feamster@cc.gatech.edu)                               #
# author: Muhammad Shahbaz (muhammad.shahbaz@gatech.edu)                       #
################################################################################

################################################################################
# 1. Fill in modules in MODULES clause, separating each with ",". 
#  - You can disable modules by commenting them out by putting "#" in front. 
################################################################################

################################################################################
# 2. Specify the composition of modules in COMPOSITION clause.
#  - You can disable lines by commenting them by putting "#" in front. 
#  - Specify only one composition here. The FIRST line with NO "#" will be
#    be used for the composition.
################################################################################

################################################################################
#         DON'T PUT ANYTHING BETWEEN MODULES AND COMPOSITION CLAUSES!          #
################################################################################

APPLICATIONS = {
#  pyretic.pyresonance.apps.auth,
#  pyretic.pyresonance.apps.ids,
#  pyretic.pyresonance.apps.passthrough,
#  pyretic.pyresonance.apps.server_lb,
  pyretic.pyresonance.apps.dos_main,
#  pyretic.pyresonance.apps.auth_new,
#  pyretic.pyresonance.apps.ratelimit,
}

COMPOSITION = {
#  auth >> ids
#  server_lb
#  passthrough
#  auth_new
#  auth
#  ratelimit
  dos_main
#  ids
}
